* {
    box-sizing: border-box;
  }

header {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 400;
  background-color:#049fbb;
  text-align: unset;
  box-shadow: 1px 7px 20px rgba(0, 5, 10, 0.7)  ; 
}

#hero {
    font-family: 'Merriweather', serif;
    background-color: #ffe4c4;
    padding: 50px 0;
    margin: 0px;
    display: inline-block;
    width: 100%;
    box-shadow: 1px 7px 20px rgba(0, 5, 10, 0.7);
    text-align: center; 
  }

  #hero span {
    display: block;
  }

body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 400;
}


#logo {
    max-width: 250px;
    text-align: center;
}

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Merriweather', serif;
    }


.container{

padding-top: 50px;
}
.picture {
    width: 600px;
    height: 400px
}

.work{
    padding: 40px;
    background-color: #ffe4c4;
}

/* Button Styling */
.button {
    display: inline-block;
    padding: 20px 20px;
    margin: 20px;
    background-color: #007afd;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s opacity;
    align-items: center;
}

.button:hover {
    opacity: 0.8;
}

/* Image Styling */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*navigation Styling*/
nav{
    padding: 10px;
    display: flex;
    justify-content: center;
}


nav > ul {
    list-style-type:decimal;
    padding: 0;
}

nav > ul > li {
    display: inline;
    list-style-type:decimal
}    

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f8f8f8;
  }

nav> ul > li >:last-child {
    margin-right: 0;
}

.container-footer {
    margin: 40px;
    padding: 10px;
    
    
}

footer {
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: #049fbb;
    color: #feeee8;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 7px 20px rgba(0, 5, 10, 0.7);
}

.social-media-container {
    text-align: center;
}

.row1 {
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; 
}

* {
    box-sizing: border-box;
  }
  
  .column {
    width: 50%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block; /* Change from float:left to inline-block */
    vertical-align: top; /* Align columns to the top */
  }
  .row1::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; 
  }
  
  .divider {
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; 
  }

  ul {
    list-style:circle;
    text-align: left;
}

  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    
    nav {
        width: auto;
    }

    main {
        font-size: 16px;
    }
    
    #hero span {
        display: inline;
    }

    .column {
        width: 50%;
    }
    
    .col-md-4,
    .col-md-6,
    .col-md-5 {
        width: 50%;
    }
    
    [class*="col-"] {
        float: left;
        padding: 10px;
    }

    .row1::after {
        content: "";
        display: table;
    }
    
    nav > ul > li {
        display: inline-block;
    }
    
    nav > ul {
        margin: 1em 0;
    }
    
    .container {
        width: 100%;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    header,
    nav,
    main {
        padding: 20px 0 13px;
    }
    
    nav {
        width: auto;
    }
    
    main {
        font-size: 18px;
    }
    
    .col-lg-6,
    .col-lg-4,
    .col-lg-5 {
        width: 50%;
    }

    .column {
        width: 50%;
    }
    
    [class*="col-"] {
        float: left;
        padding: 10px;
    }
    
    nav > ul > li {
        display: inline-block;
    }
    
    .container {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

